.fixed-action-button {
  transition: all .2s;
}

.btn-floating, .btn-floating:focus {
  background-color: #f1122c;
}

.btn-floating:hover {
  background-color: #f44257;
  transform: translateY(-2px);
}

.btn-floating:active {
  transform: translateY(0px);
}