/* BASE */
html {
  font-family: 'Work Sans', sans-serif;
}

/* NAVBAR */
.nav-wrapper {
  background-image: linear-gradient(
    to left,
    #c40c21,
    #f4b142
  );
}

.credits {
 margin: .2rem 1.5rem;
}

/* BUTTONS */
.btn, .btn:focus {
  background-color: #2134d5;
  margin-right: .75rem;
}

.btn:hover {
  background-color: #42def4;
}

.fixed-action-button {
  transition: all .2s;
}

.btn-floating, .btn-floating:focus {
  background-color: #f1122c;
}

.btn-floating:hover {
  background-color: #f44257;
  transform: translateY(-2px);
}

.btn-floating:active {
  transform: translateY(0px);
}

.btn-flat {
  color: black;
  background-size: 200%;
  transition: all .4s;
  border-radius: 3px;
}

.btn-flat:focus {
  background-color: white;
}

.btn-flat-blue {
  background-color: #2134d5;
  color: white;
}

.btn-flat-blue:focus {
  background-color: #2134d5;
}

.btn-success {
  border: 1px solid #2134d5;
}

.btn-success:hover {
  background-position: 100%;
  background-image: linear-gradient(
    60deg,
    transparent 0%,
    transparent 40%,
    #4285F4 40%);
  color: white;
}

.btn-cancel {
  border: 1px solid #f1122c;
}

.btn-cancel:hover {
  background-position: 100%;
  background-image: linear-gradient(
    60deg,
    transparent 0%,
    transparent 40%,
    #f1122c 40%);
  color: white;
}

.btn-round {
  border-radius: 100px;
}

/* CARD */
.card {
  background-image: linear-gradient(
    to right bottom,
    #172493,
    #481793
  )
}

/* TYPOGRAPHY */
.heading__primary {
  font-size: 7rem;
  font-weight: 300;
  color: #c40c21;
  padding-top: 8rem;
   margin-top: 0;
}

/* UTILITIES */
.u-margin-top-small {
  margin-top: 2rem!important;
}

.u-margin-top-medium {
  margin-top: 4rem!important;
}

.u-margin-top-large {
  margin-top: 10rem!important;
}

.u-margin-bottom-xsmall {
  margin-bottom: .75rem!important;
}

.u-margin-right-small {
  margin-right: 2em!important;
}

.blue-grid {
  background-color:silver;
  background-image: 
  radial-gradient(circle at 100% 150%, silver 24%, white 25%, white 28%, silver 29%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
  radial-gradient(circle at 0    150%, silver 24%, white 25%, white 28%, silver 29%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
  radial-gradient(circle at 50%  100%, white 10%, silver 11%, silver 23%, white 24%, white 30%, silver 31%, silver 43%, white 44%, white 50%, silver 51%, silver 63%, white 64%, white 71%, transparent 71%, transparent),
  radial-gradient(circle at 100% 50%, white 5%, silver 6%, silver 15%, white 16%, white 20%, silver 21%, silver 30%, white 31%, white 35%, silver 36%, silver 45%, white 46%, white 49%, transparent 50%, transparent),
  radial-gradient(circle at 0    50%, white 5%, silver 6%, silver 15%, white 16%, white 20%, silver 21%, silver 30%, white 31%, white 35%, silver 36%, silver 45%, white 46%, white 49%, transparent 50%, transparent);
  background-size:100px 50px;
}
/* MEDIA QUERIES */
@media (max-width: 56.25em) {
  .heading {
    color: #c40c21;
  }

  .heading__primary {
    color: white;
  }

  .btn {
    font-size: .75em;
    margin-right: .3em!important;
    margin-left: .3em!important;
  }

  .credits {
    margin-left: -1em;
    margin-right: .3em!important;    
  }

  .brand-icon {
    margin-left: -1em;
  }
}

@media (min-width: 70em) {
  .brand-icon {
   font-size: 3.75rem!important;
  }
}